<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "/Dev/workspaces/springboot/src/main/resources/mybatis/mybatis-3-config.dtd">

<configuration>
    <mappers>
        <mapper resource="mapper/board/BoardMapper.xml"/>
    </mappers>
</configuration>