<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/common/layouts/defaultLayout}">
  <th:block layout:fragment="content">  
	
  <div class="container">
  	<div class="card card-register mx-auto mt-5">
  		<div class="card-header">Register an Account</div>
  		<div class="card-body">
  			<!--<form>-->
  				<div class="form-group">
					<div class="form-label-group">
						<input type="text" id="userId" class="form-control"
							placeholder="User Id" required="required" autofocus="autofocus">
						<label for="userId">User Id</label>
					</div>
  				</div>
  				<div class="form-group">
  					<div class="form-label-group">
  						<input type="email" id="inputEmail" class="form-control"
  							placeholder="Email address" required="required">
						<label for="inputEmail">Email address</label>
  					</div>
  				</div>
  				<div class="form-group">
  					<div class="form-row">
  						<div class="col-md-6">
  							<div class="form-label-group">
  								<input type="password" id="inputPassword" class="form-control"
  									placeholder="Password" required="required">
								<label for="inputPassword">Password</label>
  							</div>
  						</div>
  						<div class="col-md-6">
  							<div class="form-label-group">
  								<input type="password" id="confirmPassword" class="form-control"
  									placeholder="Confirm password" required="required">
								<label for="confirmPassword">Confirm password</label>
  							</div>
  						</div>
  					</div>
  				</div>
  				<button id="submitButton" class="btn btn-primary btn-block">Register</button>
  			<!--</form>-->
  			<div class="text-center">
  				<a th:href="@{/login}" class="d-block small mt-3">Login Page</a>
  				<a th:href="@{/forgotpassword}" class="d-block small">Forgot Password?</a>
  			</div>
  		</div>
		<div id="responseMessage"></div>
  	</div>
  </div>
  
  <script>
      $(document).ready(function () {
          $('#submitButton').click(function () {
              const formData = {
                  userId: $('#userId').val(),
                  email: $('#inputEmail').val(),
                  password: $('#inputPassword').val(),
                  confirmPassword: $('#confirmPassword').val()
              };
console.log("formData => " + JSON.stringify(formData));
              $.ajax({
                  url: '/register/submitUser',
                  method: 'POST',
				  async: false,
				  cache: false,
                  contentType: 'application/json',
                  data: JSON.stringify(formData),
                  success: function (response) {
                      $('#responseMessage').text(response.message);
                  },
                  error: function () {
                      $('#responseMessage').text('An error occurred.');
                  }
              });
          });
      });
  </script>

  </th:block>      
</html>