<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "file:///C:/workspace/springboot/src/main/resources/mybatis/mybatis-3-mapper.dtd">

<mapper namespace="com.example.springboot.user.dao.UserMapper">

	<select id="findUser" resultType="com.example.springboot.user.model.Users">
        SELECT * FROM USERS WHERE user_id = #{userId};
    </select>

	<insert id="saveUser" parameterType="com.example.springboot.user.model.Users">
        INSERT INTO USERS (user_id, email, password, authority, created_at)
        VALUES (#{userId}, #{email}, #{password}, 'USER', now());
    </insert>
    
    <select id="findUserByUserId" resultType="com.example.springboot.user.model.Users">
        SELECT * FROM USERS WHERE user_id = #{userId};
    </select>
    
</mapper>