<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "/Dev/workspaces/springboot/src/main/resources/mybatis/mybatis-3-mapper.dtd">

<mapper namespace="common.UserMapper">

	<select id="findUser" resultType="com.example.springboot.common.dto.Users">
        SELECT * FROM tb_board ORDER BY board_id DESC;
    </select>

	<select id="save" parameterType="com.example.springboot.common.dto.Users" resultType="com.example.springboot.common.dto.Users">
        INSERT INTO USERS (user_id, password, authority, createdAt)
        VALUES (@param.user_id, @param.password, @param.authority, now());
    </select>
    
</mapper>