<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "/Dev/workspaces/springboot/src/main/resources/mybatis/mybatis-3-mapper.dtd">

<mapper namespace="com.example.springboot.board.dao.BoardMapper">

	<select id="getAllBoardList" resultType="com.example.springboot.board.model.Board">
        SELECT * FROM tb_board ORDER BY board_id DESC;
    </select>

</mapper>